Welcome to the Events Scheduler!
<% @events.each do |event| %>
<p><strong><a href="/events/<%=event.id%>"><%=event.name%></strong></a></p>
<p>Location: <%=event.location%></p>
<p><%=event.date%>,<%= event.time%></p>
<%if event.category_id %><p><strong><%=event.category.name  %></strong></p><%end%>
<p>Created by <%=event.user.username%></p>
<hr>
<%end%>
</br>
