<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<h3>Log In</h3>

<%=form_tag({controller: "sessions", action: "login_user"}, method: "post") do %>
<p>Username: <%= text_field_tag (:username)%></p>
<p>Password: <%= password_field_tag (:password) %></p>
<%= submit_tag("Log In") %>
<%end%>

<p><%= link_to('Log in with Facebook', '/auth/facebook') %><br>
<small>Please note that the ability to log in through Facebook is in no way an endorsement of Facebook or Mark Zuckerberg.</small></p>
<p><%= link_to ("Log in with Github", "/auth/github")</p>

<small>If you do not have a login, please <%=link_to "sign up", new_user_path %>.</small>
