<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<h3>Log In</h3>

<%=form_tag({controller: "sessions", action: "login_user"}, method: "post") do %>
<p>Username: <%= text_field_tag (:username)%></p>
<p>Password: <%= password_field_tag (:password_digest) %></p>
<%= submit_tag("Log In") %>
<%end%>

<small>If you do not have a login, please <%=link_to "sign up", new_user_path %>.</small>
