<% if @user.errors.messages.count > 0 %>
<div id="error_explanation">
<p>
  <%= pluralize(@user.errors.count, "error") %>
  prohibited this article from being saved:</p>
<ul>
<% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

<%= form_for(@user) do |f| %>
<p>Username: <%=f.text_field :username %></p>
<p>Password: <%=f.password_field :password %></p>
<p>Confirm password: <%=f.password_field :password_confirmation %></p>
<%=f.submit%>
  <%end%>
