<%= form_for(@event) do |f| %>
<p>Location: <%=f.text_field :location %></p>
<p>Date: <%=f.date_select :date %></p>
<p>Time: <%=f.time_select :time%></p>
<p>Brief Description <em>(Optional)</em>: <%=f.text_field :description%></p>
<p>Event Type: </p>
  <%=f.submit%>
  <%end%>
