<%= form_for(@event) do |f| %>
<strong><p>Event Name: <%=f.text_field :name %></p></strong>
<p>Location: <%=f.text_field :location %></p>
<p>Date: <%=f.date_select :date %></p>
<p>Time: <%=f.time_select :time%></p>
<%if @event.category%>
<p>Event Category: <%=f.text_field :category, :value => @event.category.name%></p>
<%else%>
<p>Event Category: <%=f.text_field :category%></p>
<%end%>
<p>Brief Description <em>(Optional)</em>: <%=f.text_field :description  %></p>
  <%=f.submit%>
  <%end%>
