<h3>All Events</h3>
<small>To view upcoming events in chronological order, please <%=link_to "click here", chronological_path%>.</small>
<% @events.each do |event| %>
<p><strong><%=link_to event.name, event_path(event)%></strong></a></p>
<p>Location: <%=event.location%></p>
<p><%= event_date(event)%>, <%=event_time(event)%></p>
<%if event.category%><p><strong><%=link_to event.category.name, category_path(event.category)%></strong></p><%end%>
<hr>
<%end%>
</br>
