<h3>All Events</h3>
<% @events.each do |event| %>
<p><strong><%=link_to event.name, event_path(event)%></strong></a></p>
<p>Location: <%=event.location%></p>
<p><%=event.date%>,<%= event.time%></p>
<%if event.category_id %><p><strong><%=event.category.name  %></strong></p><%end%>
<p>Created by <%=event.user.username%></p>
<hr>
<%end%>
</br>
