<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<h3><%=@event.name%></h3>
<p>Location: <%=@event.location%></p>
<p><%=@event.date%>,<%= @event.time%></p>
<p><%=@event.description%></p><%#binding.pry%>
<%if @event.category_id %><p><strong><%=@event.category.name  %></strong></p><%end%>
Created by <%=link_to @event.user.username, user_path(@event.user)%>
