<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<h3><%=@event.name%></h3>
<p>Location: <%=@event.location%></p>
<p><%= event_date(@event)%>, <%=event_time(@event)%></p>
<p><%=@event.description%></p>
<p><%=link_to @event.category.name, category_path(@event.category)%></p>
Created by <%=link_to @event.user.username, user_path(@event.user)%>
<%if @event.user == current_user%>
<p><%=link_to "Edit this event", edit_event_path(@event)%><p>
<%end%>
