<h3><%=@event.name%></h3>
<p>Location: <%=@event.location%></p>
<p><%=@event.date%>,<%= @event.formatted_time%></p>
<p><%=@event.description%></p><%#binding.pry%>
<%if @event.category_id %><p><strong><%=@event.category.name  %></strong></p><%end%>
<p>Created by <%=@event.user.username%></p>
<% if logged_in && @event.user_id == session[:user_id] %>
<a href="/events/<%=@event.id%>/update">Update Event</a>
<form class="" action="/events/<%=@event.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete Event">
</form>
<br><a href="/user_index">Back to Your Events</a>
<%end%>
<br><a href="/">Back to Index</a>