<!DOCTYPE html>
<html>
<head>
  <title>Event Scheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body><%if logged_in?%> <%= link_to "Log Out", logout_path%> <%= link_to "Index", root_path%> <%= link_to "Create a New Event", new_event_path %><%end%><%if !logged_in?%>
  To create or modify an event, please <a href="/log_in">log in</a> or <%= link_to "sign up", new_user_path %>.
  <%end%>
    <div class="wrapper">
<br>
<%= yield %>

</body>
</html>
